<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <th:block th:replace="~{fragments/styles :: commonHead}"></th:block>
    <title>Footer</title>
</head>

<footer th:fragment="body"
        class="bg-dark text-light text-center py-3 mt-auto">

    <div class="container">
        <div class="row">
            <!-- left text -->
            <div class="col-md-6 text-md-start mb-2 mb-md-0">
                <small>
                    &copy; 2025 <strong>Hotel Management System</strong><br>
                    Developed by <strong>Tanmoy Das</strong> ~ BASc. in Computer Science @ KdG
                </small>
            </div>

            <!-- right text -->
            <div class="col-md-6 text-md-end">
                <small>
                    <i class="bi bi-code-slash"></i>
                    <span class="ms-1">Java • Spring Boot • Thymeleaf • Bootstrap</span><br>

                    <i class="bi bi-envelope-at-fill text-info"></i>
                    <span class="ms-1">Contact: <strong>tanmoy.das@student.kdg.be</strong></span>
                </small>
            </div>
        </div>
    </div>

</footer>

</html>