<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<nav style="margin-bottom:16px">
    <!-- Simple navigation menu for all pages -->
    <a th:href="@{/hotels}" th:text="#{nav.hotels}">All Hotels</a> |
    <a th:href="@{/rooms}" th:text="#{nav.rooms}">All Rooms</a> |
    <a th:href="@{/hotels/add}" th:text="#{nav.addHotel}">Add Hotel</a> |
    <a th:href="@{/rooms/add}" th:text="#{nav.addRoom}">Add Room</a>
    <br>

    <!-- Language switch -->
    <a th:href="@{/(lang='en')}">English</a> |
    <a th:href="@{/(lang='nl')}">Dutch</a>
</nav>
</body>
</html>