<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Shared page assets used by all Thymeleaf views -->
    <th:block th:fragment="commonHead">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script th:src="@{/js/theme-toggle.js}"></script>
        <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">

        <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/1.11.3/font/bootstrap-icons.css}">
        <link rel="stylesheet" th:href="@{/css/styles.css}">
        <script defer th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
    </th:block>
</head>
</html>