<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Shared page assets used by all Thymeleaf views -->
    <th:block th:fragment="commonHead">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">

        <link rel="stylesheet" th:href="@{/css/bundle-site.css}">
        <script defer th:src="@{/js/bundle-site.js}"></script>
    </th:block>
</head>
</html>